.button.has-fill{
  position: relative;
  .fill {
    background-color: rgba(0,0,0,0.15);
    position: absolute;
    z-index: 0;
    height: 100%;
    top: 0;
    left: 0;
  }
  span{
    position: relative;
  }
  .fill + .icon {
    margin: 0;
  }
}