#playerWrapper {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}
#player{
  pointer-events: all;
  position: relative;
  background: white;
  width: 400px;
  padding: 15px;
  height: 120px;
  &.hidden {
    display: none;
  }
  .close{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    opacity: 0.5;
    transition-duration: .3s;
    transition-property: opacity;
    &:hover{
      opacity: 1;
    }
  }
  .song-title{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .bar-wrap{
    position: relative;
    .is-success{
      background-color: transparent;
    }
    .loaded{
      position: absolute;
      top: 0;
      left: 0;
    }
    .progress{
      margin-bottom: 0;
    }
  }
  .controls, .times {
    display: flex;
    justify-content: center;
  }
  .times{
    margin: 5px 0;
    justify-content: space-between;
  }
  .controls{
    margin-top: -10px;
  }
  .play-control{
    cursor: pointer;
    border: 3px black;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}