#collection{
  overflow: hidden;
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 300px;
  max-height: 400px;
  transition-duration: .3s;
  transition-property: width;
  padding-top: 46px;
  header{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
  }
  .card-content{
    padding: 5px 0;
    max-height: 273px;
    overflow-y: auto;
  }
  i.fas {
    cursor: pointer;
  }
  .accordion{
    max-height: 700px;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: .3s;
  }
  &.collapsed {
    .accordion {
      max-height: 0px;
    }
    &.empty{
      width: 56px;
    }
  }
  .field {
    margin-bottom: 0;
  }
  .select, select{
    width: 100%;
  }
  select {
    border: 0 none;
    outline: 0 none;
    border-radius: 0;
  }
  .fill-wrap{
    position: relative;
    overflow: hidden;
  }
  .fill{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
  }
}